VITE_SUPABASE_URL=https://jdrorulzszreittwixjc.supabase.co
VITE_SUPABASE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impkcm9ydWx6c3pyZWl0dHdpeGpjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxMTkzOTYsImV4cCI6MjA4NzY5NTM5Nn0.omcJmM2K6GtEjPCLpY1obB2ACsmsqXAr2nsUEMrqhNU

